.header{
    width:7.50rem;
    height:0.62rem;
    .section{
        width:7.20rem;
        height:100%;
        margin:0 auto;
        .back{
            display: block;
            width:0.50rem;
            height:0.50rem;
            margin-top:0.06rem;
            float:left;
            margin-right:0.12rem;
            img{
                display: block;
                width:100%;
                height:100%;
            }
        }
        .pro_search{
            width:5.66rem;
            height:100%;
            border-radius: 0.20rem;
            background:#F1F1F1;
            float:left;
            margin-right:0.40rem;
            a{
                display:block;
                width:100%;
                height:100%;
                input[type=text]{
                    display: block;
                    width:100%;
                    height:100%; 
                    background: url(../img/pro_sort_01.png) no-repeat left;
                    background-size:0.26rem 0.26rem;
                    background-position-x:0.16rem; 
                    text-align:left;
                    line-height:0.70rem;
                    font-size:0.16rem;
                    color:#A6A6A6;
                    padding-left:0.52rem;
                }
            } 
        }
        .photograph{
            width:0.50rem;
            height:0.34rem;
            float:left;
            margin-top:0.14rem;
            img{
                display:block;
                width:100%;
                height:100%;

            }
        }
    }
}
.content{
    width:100%;
    height:auto;
    .hot-search{
        width:7.20rem;
        height:auto;
        margin:0 auto;
        overflow:hidden;
        h3{
            width:auto;
            height:0.42rem;
            padding-top:0.26rem;
            float:left;
            text-align:center;
            line-height:0.42rem;
            font-size:0.16rem;
            color:#ACACAC;
        }
        img{
            display:block;
            padding-top:0.46rem;
            width:0.30rem;
            height:0.30rem;
            float:right;
        }
        ul{
            width:100%;
            height:auto;
            margin:0.10rem auto;
            clear:both;
            li{
                width:auto;
                height:0.24rem;
                margin-bottom:0.24rem;
                a{
                    display:block;
                    width:auto;
                    height:100%;
                    background: #F4F4F4;
                    padding:0.10rem 0.20rem;
                    text-align:center;
                    line-height:0.24rem;
                    font-size:00.16rem;
                    color:#666666;
                    margin-right:0.20rem;
                    float:left;
                }
            }
        }
    }
    .you-want{
        width:7.20rem;
        height:auto;
        margin:0.20rem auto;
        overflow: hidden;
        h3{
            width:auto;
            height:0.42rem;
            padding-top:0.26rem;
            float:left;
            text-align:center;
            line-height:0.42rem;
            font-size:0.16rem;
            color:#ACACAC;
        }
        ul{
            width:100%;
            height:auto;
            margin:0.20rem auto;
            clear:both;
            li{   
                width:auto;
                height:0.24rem;
                margin-bottom:0.24rem;
                a{
                    display:block;
                    width:auto;
                    height:100%;
                    background: #F4F4F4;
                    padding:0.10rem 0.20rem;
                    text-align:center;
                    line-height:0.24rem;
                    font-size:00.16rem;
                    color:#666666;
                    margin-right:0.20rem;
                    float:left;
                }
            }
        }
    }
}
