.header {
  background-color: #999999;
}

.content {
  height: auto;
  background: #999999;
}

.content .address {
  width: 100%;
  height: 1.12rem;
}

.content .address li {
  width: 6.06rem;
  height: 0.30rem;
  margin-left: 0.24rem;
}

.content .address li span {
  display: block;
  float: left;
  margin-right: 0.58rem;
  text-align: center;
  line-height: 0.30rem;
  font-size: 0.16rem;
  color: #383838;
}

.content .address li a {
  display: block;
  width: 0.62rem;
  height: 0.30rem;
  border: 0.01rem solid #D96262;
  text-align: center;
  line-height: 0.30rem;
  font-size: 0.16rem;
  color: #D96262;
  margin-left: -0.08rem;
  float: left;
  margin-right: 0.58rem;
}

.content .address li p {
  text-align: center;
  line-height: 0.30rem;
  font-size: 0.16rem;
  color: #383838;
  float: left;
}

.content .address li i {
  display: block;
  width: 0.40rem;
  height: 0.30rem;
  float: left;
  text-align: left;
  line-height: rem;
  font-style: normal;
  font-size: 0.14rem;
  color: #383838;
  margin-left: 0.16rem;
}

.content .address li:nth-child(2) {
  width: 6.80rem;
  margin-top: 0.08rem;
}

.content .pro_list {
  width: 100%;
  height: auto;
  background-color: #999999;
}

.content .pro_list li {
  width: 100%;
  height: 2.52rem;
  border-bottom: 0.01rem solid #8B8B8B;
  position: relative;
}

.content .pro_list li a {
  display: block;
  width: 1.64rem;
  height: 1.64rem;
  background: #929292;
  margin-left: 0.34rem;
  margin-top: 0.26rem;
}

.content .pro_list li a img {
  display: block;
  width: 1.38rem;
  height: 1.08rem;
  margin-left: 0.13rem;
}

.content .pro_list li h3, .content .pro_list li span, .content .pro_list li b, .content .pro_list li i {
  position: absolute;
  width: 2.72rem;
  height: 0.42rem;
  left: 2.08rem;
  top: 0.20rem;
  text-align: left;
  line-height: 0.42rem;
  font-size: 0.16rem;
  color: #333333;
}

.content .pro_list li span {
  display: block;
  top: 0.60rem;
  color: #999999;
}

.content .pro_list li b {
  display: block;
  top: 1.20rem;
  font-weight: normal;
}

.content .pro_list li i {
  display: block;
  width: 0.74rem;
  top: 0.20rem;
  left: 6.60rem;
  font-style: normal;
}

.content .pay_failure {
  width: 100%;
  height: 9.70rem;
  position: relative;
  background: #C1C1C1;
}

.content .pay_failure .return {
  width: 0.98rem;
  height: 0.78rem;
  position: absolute;
  left: 0.24rem;
  top: 0.20rem;
}

.content .pay_failure .return a {
  display: block;
  width: 100%;
  height: 100%;
}

.content .pay_failure .return a img {
  display: block;
  width: 0.50rem;
  height: 0.50rem;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.content .pay_failure ul {
  width: 5.44rem;
  height: 2.42rem;
  background-color: #ffffff;
  border-radius: 0.18rem;
  position: absolute;
  left: 1.04rem;
  top: 0.90rem;
}

.content .pay_failure ul li:nth-child(1) {
  width: 4.80rem;
  height: 0.92rem;
  margin: 0.36rem auto;
}

.content .pay_failure ul li:nth-child(1) p {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 0.42rem;
  font-size: 0.18rem;
  color: #000000;
}

.content .pay_failure ul li:nth-child(1) p span {
  margin-left: 0.28rem;
  color: #CCCCCC;
}

.content .pay_failure ul li:nth-child(2) {
  width: 5.44rem;
  height: 0.94rem;
  margin: 0.26rem auto;
}

.content .pay_failure ul li:nth-child(2) a {
  display: block;
  width: 2.70rem;
  height: 0.76rem;
  border-top: 0.01rem solid #E5E5E5;
  border-right: 0.01rem solid #E5E5E5;
  text-align: center;
  line-height: 0.76rem;
  font-size: 0.32rem;
  color: #108EE9;
  float: left;
}

.content .pay_failure ul li:nth-child(2) .other_method {
  border-right: none;
}

.content .pay_failure .paying {
  width: 100%;
  height: 9.70rem;
}

.content .pay_failure .paying span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9.70rem;
  font-size: 0.20rem;
  color: #000000;
}
