.header {
  position: relative;
}

.header .pro_search {
  width: 5.46rem;
  height: 0.70rem;
  position: absolute;
  left: 0.94rem;
  top: 0.10rem;
  background: #F1F1F1;
  border-radius: 0.30rem;
}

.header .pro_search a {
  display: block;
  width: 100%;
  height: 100%;
}

.header .pro_search a input[type=text] {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/pro_sort_01.png) no-repeat left;
  background-size: 0.26rem 0.26rem;
  background-position-x: 0.16rem;
  text-align: left;
  line-height: 0.70rem;
  font-size: 0.16rem;
  color: #A6A6A6;
  padding-left: 0.52rem;
}

.header .more_operator {
  position: absolute;
  right: 0.26rem;
  top: 0.26rem;
  width: 0.36rem;
  height: 0.36rem;
}

.header .more_operator img {
  display: block;
  width: 100%;
  height: 100%;
}

.header .photograph {
  width: 0.50rem;
  height: 0.34rem;
  position: absolute;
  left: 5.68rem;
  top: 0.30rem;
}

.header .photograph img {
  display: block;
  width: 0.50rem;
  height: 0.34rem;
}

.content {
  height: auto;
  margin-top: 0.24rem;
}

.content .sorting {
  width: 100%;
  height: 0.70rem;
  background: #F3F3F3;
}

.content .sorting li {
  width: 1.30rem;
  height: 0.70rem;
  float: left;
  margin-right: 0.20rem;
}

.content .sorting li span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 0.70rem;
  font-size: 0.20rem;
  color: #A19D9D;
}

.content .sorting li:nth-child(1) {
  width: 1.64rem;
  margin-right: 0;
}

.content .sorting li:nth-child(1) span {
  width: 1.30rem;
  color: #333333;
  text-align: right;
  float: left;
}

.content .sorting li:nth-child(1) img {
  display: block;
  float: left;
  width: 0.16rem;
  height: 0.08rem;
  margin-top: 0.32rem;
}

.content .sorting li:nth-child(5) {
  border-left: 0.02rem solid #A19D9D;
  width: 0.90rem;
  height: 0.30rem;
  margin-top: 0.20rem;
}

.content .sorting li:nth-child(5) span {
  line-height: 0.30rem;
}

.content .pro_list {
  width: 100%;
  height: auto;
}

.content .pro_list li {
  width: 50%;
  height: 4.44rem;
  float: left;
  position: relative;
}

.content .pro_list li a {
  display: block;
  width: 100%;
  height: 100%;
}

.content .pro_list li a img {
  display: block;
  width: 1.76rem;
  height: 2.40rem;
  position: absolute;
  left: 0.76rem;
  top: 0;
}

.content .pro_list li a h3 {
  width: auto;
  height: 0.36rem;
  position: absolute;
  left: 0.26rem;
  top: 2.98rem;
  text-align: center;
  line-height: 0.36rem;
  font-size: 0.20rem;
  color: #000000;
}

.content .pro_list li a i {
  display: block;
  width: auto;
  height: 0.30rem;
  padding: 0.05rem 0.10rem;
  background: #FFCCD7;
  font-style: normal;
  text-align: center;
  line-height: 0.30rem;
  font-size: 0.14rem;
  color: #CF3636;
  position: absolute;
  left: 0.26rem;
  top: 3.36rem;
}

.content .pro_list li a b {
  display: block;
  width: auto;
  height: 0.30rem;
  font-weight: normal;
  text-align: center;
  line-height: 0.30rem;
  font-size: 0.24rem;
  color: #CF3636;
  position: absolute;
  left: 0.26rem;
  top: 3.86rem;
}

.content .pro_list li a span {
  display: block;
  width: auto;
  height: 0.32rem;
  text-align: center;
  line-height: 0.30rem;
  font-size: 0.24rem;
  color: #999999;
  position: absolute;
  left: 1.60rem;
  top: 3.86rem;
}

.content .pro_list li .more {
  display: block;
  width: 0.40rem;
  height: 0.32rem;
  text-align: center;
  line-height: 0.32rem;
  font-size: 0.16rem;
  color: #A6A6A6;
  position: absolute;
  left: 3.14rem;
  top: 3.70rem;
}
