.me_center{width: 100%;height:91.5%;background-color: rgb(241,245,248);}
.me_center_top{width: 100%;height: 18%;background-color: white;float: left;margin-top: 12px;}
.me_center_center{width: 100%;height: 8%;background-color: white;float: left;margin-top:8px;}
.me_center_bottom{width: 100%;height: 9%;background-color: white;float: left;margin-top: 8px;}
.me_center_footer{width: 100%;height: 9%;background-color: white;float: left;margin-top: 8px;}
.me_center_center_main{width: 100%;height:100%;margin-bottom: 1px;border-bottom:1px solid rgba(155,155,155,0.2);}
.me_top_left_ming{width: 40%;float: left;color:#333333;font-size: 16px;font-weight: bold;}
.me_top_left_ming_ming{margin-left: 20px;}
.top_t_left_a_span{color:black;display: block;float: left;font-family:"Microsoft YaHei";}
.top_t_left_a_span_zou{display: block;float: left;color:black;font-family:"Microsoft YaHei";}
.zhanghu_input{width: 95%;height: 100%;margin-left: 15px;}
input{background:none;outline:none;border:0px;}
input[type="text"]:focus,input[type="password"]:focus {border:none;outline: none;}
